

body {
    
   background: gainsboro;
font-family: "Open Sans", sans-serif;
}

.wrap{
    max-width: 1100px;
    width: 100%;
    margin: auto;


    
}

.category_list{
  
color: black;
font-weight: 500;
position: relative;
display: flex;
margin: 30px 20%;

justify-content: space-between
} 

.category_list button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
   
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #DC3545; /* Color de fondo */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para hover */
  }
  

.category_list button:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}


hr{
   
    width: 60%;
    height: 1px;
    background: black;
   margin: 4% auto;
}

    .products-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    }

.products-list .product-item{
    width: 18%;    
    margin:3%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;


}



.products-list .product-item img{

width: 100%;
height: 100%;

}


.products-list .product-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #293a63;
    text-decoration: none;
    text-align: center;
    color: white;
}

    


.product-item{
    margin: 5px;
}

