
.d-flex{margin-top: 20px;}
/* Barra de navegacion */
.navbar-nav{
   
     padding-right: 12rem;
    margin-right: auto; margin-left: auto;  
    
}


.nav-item{ font-size:x-large;}


/* Buscador */
.form-control::placeholder {
    
    
    text-align: center; 
    
   
}
.form-control{height: 40px;

    margin-left: 360px;
}

  
 .btn{margin-right: 320px;
    
padding-left: 20px;
} 


/* MITAD IZQUIERDA */
.izquierda{
    height: 100vh;
    width: 50%;
}

/* MITAD DERECHA */
.derecha{
    background: url(../imagenes/10.png);
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 50%;
}
    
    #pantalla-dividida{
        display: flex;
    margin-top: 15px;}

    .custom{background-color: aqua;}